{<<"links">>,[{<<"GitHub">>,<<"https://github.com/munksgaard/ash_zoi">>}]}.
{<<"name">>,<<"ash_zoi">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Bridge Ash types and resources to Zoi validation schemas">>}.
{<<"elixir">>,<<"~> 1.18">>}.
{<<"app">>,<<"ash_zoi">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"ash">>},
   {<<"app">>,<<"ash">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"zoi">>},
   {<<"app">>,<<"zoi">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.17.3">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/ash_zoi.ex">>,<<".formatter.exs">>,<<"mix.exs">>,
  <<"README.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
